*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Crushed', cursive;
    font-size: 22px;
    height: 80vh; 
    display: grid;
    grid-template-rows: 20px, auto;
    grid-template-areas: 
    "hdr"
    "main";
}

header {
    grid-area: 'hdr';
    display: flex;
    justify-content: space-between;
    color: #5E4466;
    font-size: 14px;
    font-family: 'Crushed', cursive;
}

main {
    grid-area: 'main';
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
  color:#471C34;
  font-size: 7vmin;
  letter-spacing: 0.5vmin;
  margin: 10px;
  text-align: center;
}

.board {
    padding: 1%;
    width: 65vw;
	display: flex;
    flex-flow: column;
    background-image: url(../images/Pine-Wood-Grain-Texture.jpg);
    background-size: cover;
    /* border-radius: 4%; */
    border: #471C34 solid 6px;
    border-radius: 18px;
}

.all-playable-pits { 
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    /* height: 60vh; */
}

.pit {
    /* height: 8vh; */
    width: 25vw;
}

.pit:hover {
    background-color: rgba(75, 29, 10, 0.486); 
}

.player-one-captured, .player-two-captured:hover {
    cursor: not-allowed;
}

.player-ones-pits, .player-twos-pits{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:  #C6B3B3;
}

.player-twos-pits {
    color: #EEA225;
}

.player-one-captured, .player-two-captured, .pit {
	display: flex;
	justify-content: center;
	background-color: rgba(46, 19, 7, 0.486);
    border-radius: 30%;
    height: 8vh;
    box-shadow: 0px -1px 0px px  #471C34;
    box-shadow: #471C34 -2px -2px;
    margin: .8vh 0vh;
    align-items: center;
    border: #471C34 solid 3px;
}

.collapsible {
    background-color: #C6B3B3;
    font-family: 'Crushed', cursive;
    color: #471C34;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color:  rgb(155, 139, 139);
  }
  
  .rules {
    background-color: rgb(252, 240, 240);
    display: none;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  }

.new-game-button {
    background-color: #471C34;
    border-radius: 10%;
    text-align: center;
    color:white;
    margin: 10px;
    font-size:  30px;
    font-family: 'Crushed', cursive;
}

.new-game-button:hover {
    color: #471C34;
    background-color: #C6B3B3;
}

.player-one-captured, .player-two-captured {
    margin: 0 5%;
    color: #C6B3B3;
}

.player-two-captured {
    color: #EEA225;
}

@media only screen and (min-width: 680px) {
    body {
        font-size: 30px;
    }

    header {
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .board {
        flex-flow: row;
        width: 90vw;
        height: 240px;
        margin: 40px 0px 40px 0px;
        /* transform: rotate(180deg) */
    }
    
    .all-playable-pits {
        flex: 7;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .player-ones-pits, .player-twos-pits {
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        width: 10vw;
        align-self: stretch;
        margin-left: 2vw;
    }
    
    .player-one-captured, .player-two-captured, .pit {
        margin: 1vw;
        justify-content: center;
        width: 8.2vw;
        height: 250px;
        /* transform: rotate(180deg); */
    }
    
    .pit {
        flex: 7;
    }

    .player-one-captured, .player-two-captured  {
        flex: 1;
        height: 190px;
    }
     
    .rules {
        width: 92vw;
    }

    .new-game-button {
        margin: 10px;
        font-size: 40px;
    }

    h3 {
        font-size: 8vmin;    
    }
}    
